prefer-no-csd
screenshot-path "~/Pictures/Screenshots/%Y-%m-%d %H-%M-%S.png"

hotkey-overlay {
    skip-at-startup
}

include "input.kdl"
include "layout.kdl"
include "colors.kdl"
include "motion.kdl"
include "rules.kdl"
include "startup.kdl"
include "binds.kdl"
