input {
    keyboard {
        xkb {
            layout "us,ru"
            options "grp:alt_shift_toggle"
        }
        numlock
        repeat-delay 230
        repeat-rate 38
    }

    touchpad {
        tap
        tap-button-map "left-right-middle"
        click-method "clickfinger"
        natural-scroll
        dwt
        accel-speed 0.24
        accel-profile "adaptive"
        scroll-factor 0.28
        middle-emulation
    }

    mouse {
        accel-profile "adaptive"
        accel-speed 0.24
    }

    mod-key "Super"
    mod-key-nested "Alt"
    disable-power-key-handling
    focus-follows-mouse max-scroll-amount="0%"
}

cursor {
    xcursor-theme "Bibata-Modern-Classic"
    xcursor-size 24
    hide-when-typing
}

output "eDP-1" {
    mode "2880x1800@120.000"
    scale 1.3333333333333333
    variable-refresh-rate
    focus-at-startup
}

output "winit" {
    scale 1.3333333333333333
}
